html {
    background: #131313;
    scroll-behavior: smooth;
    line-height: 1.1;
    font-size: 20px;
    color: #f5eee6;
    font-family: 'Montserrat', sans-serif;;
    --viewport-height: 1294px;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}

header {
    position: fixed;
    top: 0px;
    left: 28px;
    right: 28px;
    z-index: 11;
    height: 55px;
    opacity: 1;
}

div {
    display: block;
}

a {
    color: #f5eee6;
    text-decoration: none;
}
a span {
    color: #fff;
    text-transform: none;
    margin-right: 1.625rem;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#toggle-menu {
    display: none;
}

@media (max-width: 768px) {
    /* Apply styles for screens up to 768px wide (typical tablets and smaller screens) */
    header {
        left: 10px;
        right: 10px;
    }

    #toggle-menu {
        display: block; /* Display the hamburger icon */
        font-size: 1.5rem;
        cursor: pointer;
    }

    .main-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 55px;
        left: 0;
        right: 0;
    }

    #main-menu {
        display: none; /* Hide the menu by default on small screens */
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        background-color: #131313;
    }

    #main-menu ul {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        width: 100%; /* Full width of the container */
        text-align: center; /* Center the text in the container */
    }

    #main-menu.active {
        display: flex; /* Show the menu when active */
    }
    
    .scroll {
        left: 10px;
        right: 10px;
    }

    .title {
        flex-direction: column;
        align-items: flex-start;
    }

    .h5 {
        margin-bottom: 0.238rem;
    }
}


.wrap-header {
    position: relative;
}


#main-menu ul {
    display: flex;
    gap: 1rem; 
}

.main-navigation {
    padding: 0.8125rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid rgba(245, 238, 230, .5);
    position: relative;
}

.title {
    display: flex;
    align-items: center;
}

.h5 {
    font-size: 1.2rem; 
    font-weight: 600; 
    line-height: 1; 
    display: block; 
    margin-right: 1rem;

}

.h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-right: 1rem;

}

.trochut {
    font-family: 'Trochut', sans-serif;
}

.scroll {
    position: absolute;
    top: 0;
    left: -28px;
    bottom: 0;
    right: -28px;
    background-color: rgba(19,19,19,.15);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    opacity: 0;
    z-index: -1
}

.name {
    margin-bottom: 0.238rem;
}

#landing {
    height: 100vh;
    background-image: url('../images/rocket-launch.jpg');
    background-size: cover;
    background-position: center;
    position: relative 
}

.landing-content {

}

.top-right {
    position: absolute;
    top: 10%;
    right: 5vw;
    text-align: center;
}

.main-title {
    font-size: 3vw; 
    margin-bottom: 0.5rem;
}

.sub-title {
    font-size: 1vw; 
    margin-top: 0;
}

.bottom-left {
    position: absolute;
    bottom: 30%;
    left: 12vw;
    text-align: left; 
}

.about-me {
    width: 30vw;
    font-size: .9em;
    font-weight: 100;
    line-height: 1.6;
}